.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output

src/routes/index2.svelte
src/routes/about.svelte
src/routes/todos
tests

.eslintrc.cjs
.eslintignore
.prettierignore
.prettierrc
.npmrc